/* Stopping horizontal scrolling */
html, body {
  overflow-x: hidden;
}

/* Text Styles */

h1,h2,h3{
    color:#4C177A;
}

h1,h2,h3,p{
    padding-bottom:32px;
}

h2{
    font-size:36px;
}

h3{
    font-size:30px;
}

/* Header Styles */

#header{
    background-image: url('../images/headphones.png');
    background-repeat:no-repeat;
    background-color:black;
    z-index:20;
    position:relative;
    height:600px;
}

#mask{
    background-image: linear-gradient(224deg, #2B8BE3 0%, #2985D9 5%, #2169AC 18%, rgba(0, 0, 0, 0.38) 100%);
    z-index:21;
    height:600px;
    position:relative;
}


/* Navigation Bar */

.navbar .container-fluid{
    max-width:960px;
}

nav{
    background-color:rgba(38, 68, 104, 1);
    box-shadow:0px 2px 4px 0px rgba(0,0,0,0.50);
}

.navbar-toggle{
    border-color:#ddd;
}

.nav>li,.navbar-brand{
    width:189px;
}

.nav>li a, .navbar-brand{
    text-align:center;
}

.icon-bar{
    background-color:#fff;
}

ul.nav.navbar-nav li a:hover, .navbar-brand:hover, .navbar-toggle:hover{
    background-color:#838ABC;
    color:white;
}

ul.nav.navbar-nav li a:active, .navbar-brand:active, .navbar-toggle:active{
    background-color:#5C9FCB;
}



ul.nav li a, a.navbar-brand{
    color:white;
    font-size:14px;
}

#login-box{
    background-color:#264468;
    padding: 15px; 
    padding-bottom: 0px;
    width:150%;
}

#login-box .btn{
    width:50%;
    margin:20px 0;
}

/* Header Text */

#header h1, #header h2, #header p{
    color:white;
}

#header h1{
    font-size:48px;
    padding:25px 0;
}

#header h2{
    font-size:36px;
    padding:18px 0;
}

#header p, .btn{
    font-size:18px;
}

#header p{
    width:80%;
    padding:20px 0;
}

.btn{
     border:none;
     transition: all .2s ease-in;
}

#header a.btn{
    width:60%;   
    margin-right:5%;
    margin-top:6%;
}

#header a.btn:hover, .footer button:hover, #login-box .btn:hover{
    background-color:#5C9FCB;
    color:white;
}

#header-text{
    padding-top:120px;
}

.container{
    max-width:960px;
    margin:auto;
}


/* Content Area */

.content-row{
    padding:32px 0;
}

.buckets, .support-content, .footer{
    background-color:#264468;
}

.buckets h3, .buckets p, .support-content h2, .support-content p{
    color:white;
}

.video-container{
    padding-bottom:50px;
}

.support-container{
    padding-bottom:60px;
}

.centered-container{
    margin:0 auto;
    float:none;
}

.player{
    padding-bottom:20px;
}

#about-us{
    padding-bottom:92px;
}

/* Custom select box */

.select-style {
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;

    background: #fff url("../images/svg/triangle.svg") no-repeat 95% 50%;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    appearance: none;
}

.select-style select:focus {
    outline: none;
}

#success-notification{
    color: #4F8A10;
    background-color: #DFF2BF;
    margin-bottom:20px;
    padding-bottom:10px;
    display:none;
}

#success-notification span{
    padding-left:15px;
    vertical-align:middle;
}

#contact-form input[type=submit]{
    margin-right:14px;
}

#contact-form .btn{
    background-color:#5C9FCB;
    color:white;
    width:48%;
    margin-top:6%;
}

#contact-form .btn:hover{
    background-color:#264468;
}

#contact-form textarea{
    height:124px;
}

/* Footer */

.footer{
    width: 100%;
    color:white;
    text-align:center;
    height:135px;
}

#footer{
    padding-bottom:0;    
}

.footer-centered{
    margin:0 auto;
    float:none;
}

.footer-nav{
    padding-top:5%;
}

.footer a{
    color:white
}

.footer a:hover{
    color:#5C9FCB;
    text-decoration:none;
}
.footer li{
    width:25%;
    text-align:center;
}

.footer li:hover{
    background-color:#838ABC;
}

.footer button{
    width:60%;
    background-color:white;
    margin-top:15px;
}
@media screen and (max-width : 960px){
    .nav>li,.navbar-brand{
        width:152px;
    }
    #header-text{
        padding-top:50px;
    }
}

@media screen and (max-width : 768px){
    .navbar .container-fluid{
        width:auto;
    }
    
    .nav>li a, .navbar-brand{
        text-align:left;
    }
    #header-text{
        padding-top:20px;
        padding-left:5%;
    }
    
    #header p{
        width:60%;
    }
    .footer{
        height:200px;
    }
}

.btn-default[disabled]{
    background-color:#5C9FCB;
    border:none;
}

.btn-default[disabled]:hover{
    background-color:#5C9FCB;
}