#title-container{
    position:absolute;
    width:100%;
    text-align:center;
    top:27%;
}

#title-container h2{
    color:#fff;
    font-size:24px;
    font-weight:normal;
}

.header-fixed{
    background-color:#5C9FCB;
    height:100px;
    width:100%;
    position:fixed;
    z-index:1000;
}

.progress{
    margin-top:100px;
    border-radius:none;
    background-color:#fff;
    
}

.progress-bar-info{
    background-color:#C9E9FF;
    width: 0%; 
    transition: width 0.2s ease;
}

#page-content-wrapper{
    padding-top:100px;
}

body{
    background-color:#ECF0F1;
}

.question-wrapper--hidden {
    display: none;
}

.question-container, .answer-container, .results{
    background-color:#fff;
    border-radius:3px;
}

.question-number, .question-title{
    font-size:24px;
    color:#635C5C;
}

.question-number{
    padding-right:40px;
}

.question-title{
    padding-left:40px;
}

.toggle{
    display:none;
}

.lesson-button{
    background-color:#5C9FCB;
    color:#fff;
    width:45%;
    margin-bottom:20px;
}

.audio-container{
    padding-top:50px;
    text-align:center;
}

audio{
    margin:auto;
}

.question-options, .results-container{
    margin:auto;
}

.answer-container, .results{
    text-align:center;
}

.results h3{
    padding:30px;
    color:#635C5C;
}


.primary-button{
    background-color:#639FCC;
}

/* Button styles - Colours */

.primary-button:hover{
    background-color:#1B496C;
    color:#fff;
}


.primary-button{
    color:#fff;
    margin:20px 0;
}
