input[type=submit]{
    background-color:#5C9FCB;
    color:white;
    width:100%;
    font-size:22px;
    margin-top:6%;
}

input[type=submit]:hover{
    background-color:#264468;
    color:white;
}

#success-notification{
    display:block;
}

div#login_errors{
    color: #8A1010;
    background-color: #F2BFBF;
    margin-bottom:20px;
    padding-bottom:10px;
}

#login_errors span{
    padding-left:15px;
    vertical-align:middle;
}

#primary{
    padding-bottom:0;
}

.footer{
    height:170px;
}