/* Sidebar styles */
#sidebar-wrapper, .dropdown-menu{
    background: #1D4A7F;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover, .active, .navbar{
    background-color:#1D3552;
}

#menu-toggle:hover, input[type=submit], .primary-button{
    background-color:#639FCC;
}

/* Button styles - Colours */

input[type=submit]:hover, .primary-button:hover{
    background-color:#1B496C;
    color:#fff;
}


.primary-button{
    color:#fff;
}

.lessons-overview-button{
    width:48%;
}

.module-button{
    background-color:#1D4A7F;
    width:100%;
    color:#fff;
    white-space: normal;
}

.module-button:hover{
    background-color:#123258;
    color:#fff;
}